{
  "plugins": [
    "node"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "rules": {
    "node/no-unpublished-require": [
      "error",
      {
        "allowModules": [
          "gulpfile"
        ]
      }
    ],
    "comma-dangle": [
      1,
      "never"
    ],
    "no-process-exit": 0,
    "node/exports-style": [
      "error",
      "module.exports"
    ],
    "no-unused-vars": [
      1,
      {
        "argsIgnorePattern": "^next$"
      }
    ]
  }
}