# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

.env

# Packages
/build
/node_modules

# DB
dump.rdb
database.sqlite

# Log
log/**/*.log*
npm-debug.log*
*.log
